@font-face {
  font-family: AlbersArchiType;
  src: url(AlbersArchiTyp.otf);
}

*,
body {
  font-family: AlbersArchiType, sans-serif;

  line-height: 120%;
  font-weight: 500;

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  background: #000000;
}

section {
  padding: 0.5rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

footer {
  background: #e0e0e0;
}

figcaption {
  font-size: 1rem;
}

.hero__overlay-content {
  padding: 20vh 5% 10vh 5%;
  height:100vh;
}

.hero__overlay-content p {
  text-align: right;
  font-size: 2rem;
  line-height: 115%;
}
.hero__overlay-content h2 {
  font-size: 10vh;
  font-weight: 400;
  max-width: 50%;
  margin-bottom:10vh;
}

#container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

#container2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin: auto;
  
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.button {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  margin: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}
.imgg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vh;
  margin-bottom: 20vh;
  width: 30%;
}


#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}




/* Slideshow container */
.slideshow-container {
position: relative;
margin: auto;
}
.slideshow-container2 {
  position: relative;
  margin: auto;
  }

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: black;
user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  font-size: 85px;

}
.next {
right: 0;
font-size: 75px;

}

.prev:hover, .next:hover{
color: #fed434;
}





@media (orientation: portrait) {
  *,
  body {
    font-size: 16px;
  }

  figcaption {
    opacity: 1;
  }

  .hero__overlay-content {
    padding-top: 8vh;
  }

  .hero__overlay-content h2 {
    font-size: 3.0rem;
    max-width: 75%;
  }
}

